[Desktop Entry]
Name=Postman
Comment=Postman Client
Exec=/home/ndeeti/applications/Postman/Postman
Icon=/home/ndeeti/applications/Postman/app/icons/icon_128x128.png
Type=Application
Terminal=false
